<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.crud.menu.model.dao.MenuMapper">
    <resultMap id="menuResultMap" type="com.ohgiraffers.crud.menu.model.dto.MenuDTO">
        <id property="code" column="menu_code"/>
        <result property="name" column="menu_name"/>
        <result property="price" column="menu_price"/>
        <result property="categoryCode" column="category_code"/>
        <result property="orderableStatus" column="orderable_status"/>
    </resultMap>
    <select id="findAllMenu" resultMap="menuResultMap">
        select
            *
        from
            tbl_menu
        where
            orderable_status='Y'
        order by menu_code;
    </select>

    <resultMap id="categoryMap" type="com.ohgiraffers.crud.menu.model.dto.CategoryDTO">
        <id property="code" column="category_code"/>
        <result property="name" column="category_name"/>
        <result property="refCategoryCode" column="ref_category_code"/>
    </resultMap>
    <select id="findAllCategory" resultMap="categoryMap">
        select
            *
        from
            tbl_category

    </select>
    <insert id="registNewMenu" parameterType="com.ohgiraffers.crud.menu.model.dto.MenuDTO"
    useGeneratedKeys="true" keyProperty="code">
<!--useGenereatedKeys="true" => 를 하게 되면 autoincrement 임을 명시적으로 선언해주는 것이다
 keyProperty => 는 어떠한 값이 key 값인지 파라미터 클래스의 필드 명을 적어 주어 선언해준다 -->
        insert into tbl_menu(menu_name,menu_price,category_code,orderable_status)
        values (#{name},#{price},#{categoryCode},#{orderableStatus})
    </insert>

    <resultMap id="menuAndCategory" type="com.ohgiraffers.crud.menu.model.dto.MenuAndCategoryDTO">
        <id property="code" column="menu_code"/>
        <result property="name" column="menu_name"/>
        <result property="price" column="menu_price"/>
        <result property="categoryCode" column="category_code"/>
        <result property="orderableStatus" column="orderable_status"/>
        <association property="categoryDTO" javaType="com.ohgiraffers.crud.menu.model.dto.CategoryDTO">
            <id property="code" column="category_code"/>
            <result property="name" column="category_name"/>
            <result property="refCategoryCode" column="ref_category_code"/>
        </association>
    </resultMap>


    <select id="findAllMenuAndCategory" resultMap="menuAndCategory">
        select
            a.menu_code,
            a.menu_name,
            a.menu_price,
            a.category_code,
            a.orderable_status,
            b.category_name,
            b.ref_category_code
        from
            tbl_menu as a
        join tbl_category as b
        on a.category_code = b.category_code
        where
            orderable_status='Y'
    </select>

    <resultMap id="categoryAndMenu" type="com.ohgiraffers.crud.menu.model.dto.CategoryAndMenuDTO">
        <id property="code" column="category_code"/>
        <result property="name" column="category_name"/>
        <result property="refCategoryCode" column="ref_category_code"/>
        <collection property="menuList" resultMap="menuResultMap"/>
    </resultMap>

    <select id="findAllCategoryAndMenu" resultMap="categoryAndMenu">
        select
            a.category_code,
            a.category_name,
            a.ref_category_code,
            b.menu_code,
            b.menu_name,
            b.menu_price,
            b.orderable_status
        from
            tbl_category as a
        join
            tbl_menu as b
        on a.category_code = b.category_code
        where
        orderable_status='Y'
        order by
        category_code
    </select>

    <delete id="deleteMenuByCode" parameterType="_int">
        delete from tbl_menu
        where
        menu_code = #{code}
    </delete>

    <select id="menuByPrice" parameterType="hashmap" resultMap="menuResultMap">
        select
            *
        from
            tbl_menu
        where
        orderable_status = 'Y'
        <if test="price lt 10000">
            and
            <![CDATA[
                menu_price < #{price}
            ]]>
        </if>
        <if test="price lt 20000 and price gte 10000">
            and
            menu_price between 10000 and #{price}
        </if>
        <if test="price lt 30000 and price gte 20000">
            and
            menu_price between 20000 and #{price}
        </if>

    </select>
</mapper>
